In [1]:
first_name = 'Tirupathamma'
last_name = 'Guntru'
country = 'India'
city = 'Hyderabad'
age = 26
is_employeed = False
skills = ['Python', 'NextJS', 'ReactJS']
personal_info = {
    'firstname':'Nakhiya', 
    'lastname':'Sayyad', 
    'country':'India',
    'city':'Nuzvid'
    }

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Employement Status: ', is_employeed)
print('Skills: ', skills)
print('Personal information: ', personal_info)

First name: Tirupathamma
First name length: 12
Last name:  Guntru
Last name length:  6
Country:  India
City:  Hyderabad
Age:  26
Employement Status:  False
Skills:  ['Python', 'NextJS', 'ReactJS']
Personal information:  {'firstname': 'Nakhiya', 'lastname': 'Sayyad', 'country': 'India', 'city': 'Nuzvid'}

In [2]:
first_name, last_name, country, age, is_employeed = 'Tirupathammma', 'Guntru', 'Hyderabad', 1232, False
print(first_name, last_name, country, age, is_employeed)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Employement Status: ', is_employeed)

Tirupathammma Guntru Hyderabad 1232 False
First name: Tirupathammma
Last name:  Guntru
Country:  Hyderabad
Age:  1232
Employement Status:  False